@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../src/components/Navbar/Navlink.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.hero {
  background: url(./images/hero-bg.svg) top center no-repeat;
  background-size: cover;
}

.footer {
  background: url(./images/footer.svg) top center no-repeat;
  background-size: cover;
}

.cta {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) fixed center center;
}
.hover\:text-white:hover {
  --tw-text-opacity: 1; 
   color: black !important;
}
  
.table-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 !important;
  }

/* React ag grid  */
.ag-theme-alpine .ag-cell {
  padding: 0 !important; 
}








@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
      left: -89px !important;
  }
}